span{
    color: red;
}

p{
    color :blue;
}
* {
    font-family: 'Arial';
    font-size: 24px;
}
.pregunta{
    padding: 15px;
    background-color: #eee;
    border: 3px solid #aaa;
    border-radius: 5px;
    width: 70%;
    margin: 1.5rem auto;
}